html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: segoeui;
}

#queryTbx {
    width: 25em;
}

#myMap {
    width: 80%;
    height: 100vh !important;
}

/* Top Bar */

#top-bar {
    width: 100%;
    height: 50px;
    background-color: #1976d2;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 0;
}

.searchRow {
    margin: 5px;
}

/* Choropleth Legend */
#legend {
    position: relative;
    top: 1px;
    left: 5px;
    font-family: Arial;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 5px;
    line-height: 20px;
}
#legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
/* Extruded Choropleth Legend */
#extrudedLegend {
    position: relative;
    top: 5px;
    left: 5px;
    font-family: Arial;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 5px;
    line-height: 20px;
}

#extrudedLegend i {
    width: 18px;
    height: 18px;
    float: left;
    /* margin-right: 8px; */
    opacity: 0.7;
}

/* Main Page Layout */
#leftbox {
    float: left;
    background: white;
    border-style: solid;
    /* border-color: dodgerblue; */
    width: 20%;
    height: 100vh;
    overflow: auto;
}
#panelBodyTitle{
    color: black;
    font-weight: bold;
    text-decoration: underline;
    font-size: 13px;
    margin: 0 !important;
}
#dropdownMenuButton{
    float: right;
    /* position: absolute; */
    /* right: 0;
    top: 5px; */
}
#layerInfo{
    margin: 5px;
    font-size: 12px;
}
#btnDropDown{
    margin: 2px !important;
}
/* Checkboxes */
.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}
/* Layer Close */
#faClose{
    width: 30px !important;
    background-color: DodgerBlue;
    border: none;
    color: white;
    /* padding: 12px 16px; */
    font-size: 16px;
    cursor: pointer;
}

.card-header{
    padding: 0 !important;
}

/* Treeview Menu */
[data-ui-css-component="treeview"] {
    margin: 10px;
    font-family: Verdana;
    font-size: 14px;
    color: black;
  }
  [data-ui-css-component="treeview"] [type=checkbox] {
    display: none;
  }
  [data-ui-css-component="treeview"] ul {
    padding: 0 0 0 40px;
    display: none;
    list-style: none;
  }
  [data-ui-css-component="treeview"] ul:first-child {
    padding-left: 0;
  }
  [data-ui-css-component="treeview"] li {
    padding: 0;
  }
  [data-ui-css-component="treeview"] li span {
    margin: 2px 0;
    display: list-item;
    list-style: square;
  }
  [data-ui-css-component="treeview"] label {
    display: inline-block;
    transition: 0.2s;
    padding-right: 10px;
    margin: 5px 0;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
  }
  [data-ui-css-component="treeview"] label::before {
    display: inline-block;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    background: #1976d2;
    color: #FFF;
  }
  [data-ui-css-component="treeview"] ul:first-child, [data-ui-css-component="treeview"] [type=checkbox]:checked ~ ul {
    display: block;
  }
  [data-ui-css-component="treeview"] [type=checkbox]:checked ~ label::before {
    content: "-";
  }
  [data-ui-css-component="treeview"] [type=checkbox]:not(:checked) ~ label::before {
    content: "+";
  }