html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: segoeui;
}

#queryTbx {
    width: 25em;
}

#myMap {
    width: 80%;
    height: 100vh !important;
}

/* Top Bar */

#top-bar {
    width: 100%;
    height: 68px;
    background-color: #1976d2;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 0;
}

.searchRow {
    margin: 5px;
}

/* Choropleth Legend */
#legend {
    position: relative;
    top: 5px;
    left: 5px;
    font-family: Arial;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 5px;
    line-height: 18px;
}

#legend i {
    width: 50px;
    height: 18px;
    float: left;
    /* margin-right: 8px; */
    opacity: 0.7;
}
/* Extruded Choropleth Legend */
#extrudedLegend {
    position: relative;
    top: 5px;
    left: 5px;
    font-family: Arial;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 5px;
    line-height: 18px;
}

#extrudedLegend i {
    width: 50px;
    height: 18px;
    float: left;
    /* margin-right: 8px; */
    opacity: 0.7;
}

/* Main Page Layout */
#leftbox {
    float: left;
    background: white;
    border-style: solid;
    /* border-color: dodgerblue; */
    width: 20%;
    height: 100vh;
    overflow: auto;
}
#panelBodyTitle{
    padding: auto;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    font-size: 15px;
}
#dropdownMenuButton{
    float: right;
    /* position: absolute; */
    /* right: 0;
    top: 5px; */
}
#layerInfo{
    margin: 5px;
    font-size: 12px;
}
#btnDropDown{
    margin: 2px !important;
}
/* Checkboxes */
.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}
/* Layer Close */
#faClose{
    width: 30px !important;
    background-color: DodgerBlue;
    border: none;
    color: white;
    /* padding: 12px 16px; */
    font-size: 16px;
    cursor: pointer;
}

/* .choroplethInfo{
    display: none;
} */